.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff; /* azul marino */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  padding: 1rem 1rem; 
  transform: translateY(0);
  opacity: 1;

  transition:
    transform 2s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 1s ease;

  will-change: transform, opacity;
}


/* Cuando se oculta */
.navbar--hidden {
  transform: translateY(-70%);
  opacity: 0;
  pointer-events: none;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LOGO */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 65px;
  width: auto;
  object-fit: contain;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4));
  margin-bottom: 0.3rem;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #4ba7f3;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #1E90FF;
}
